<div id='h'>
  <a href="/">Home</a>
  <br>
    <% if logged_in? %>
      <div>Hello <%=current_user.name%></div>
      <div><a href='/logout'> Logout </a> </div>
    <%else%>
      <div><a href='/signup'> Sign up </a></div>
      <div><a href='/login'> Login </a> </div>
<%end%>
</div>
